/* Player CSS */
*{
    text-align: center;
}
.red {
    color: #efe5cb;
    text-shadow: 2px 2px #a5652d;
    background-color: #af3138;
}

.blue {
    color: #efe5cb;
    text-shadow: 2px 2px #62597e;
    background-color: #7dcbe2;
}

img {
    width: 50%;
    margin: 0 auto;
    display: block;
}

#team {
    text-transform: capitalize;
}